# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-2

# Database
CONNECTION_STRING_OURFOODDB=Server=localhost;Database=ourfooddb;User=root;Password=;

# JWT
JWT_KEY=your_jwt_secret_key_here
JWT_ISSUER=ourfood-api
JWT_AUDIENCE=ourfood-clients
JWT_EXPIRES_MINUTES=120
